@import "functions";

// Paths
$images-path: "../images";

// Layout variables
$max-width: toRem(1920px);
$pillar-width: toRem(88px);
$gutter-width: toRem(24px);

// Colors:
$white: #FFFFFF;
$primary-50: #EDEFF6;
$primary-400: #6E80B4;
$primary-500: #4A60A1;
$primary-700: #2C3A61;
$primary-800: #1E2640;
$gray-50: #E7E9EB;
$gray-100: #CFD3D6;
$gray-400: #889099;
$gray-500: #6D737A;
$gray-700: #363A3D;

// Spacing:
$spacing: toRem(12px);      // e.g. top paddings in btns
$spacing-2: toRem(24px);    // e.g. left-right paddings in btns
$line-height: 1.4;          // usually

// Fonts:

$font-inter: "Inter", sans-serif;
$font-public-sans: "Public Sans", sans-serif;

// Font sizes:
$size-h1: toRem(52px);           // Call To Action heading only

$size-hdn: toRem(40px);          // e.g. section names
$size-big: toRem(24px);          // e.g. other headings
$size-subhdn: toRem(20px);       // e.g. under section names

$size-base: toRem(16px);
$size-smaller: toRem(14px);
