div(class='hero')

    div(class='hero__social social')
        div(class='social__email-sec email-sec')
            span(class='email-sec__desc') Email us at :
            a(class='email-sec__link' href='mailto:example@mail.com') example@mail.com

    div(class='social__social-icons social-icons')
        img(class='social-icons__icon' src='./src/images/fb.svg')
        img(class='social-icons__icon' src='./src/images/drib.svg')
        img(class='social-icons__icon' src='./src/images/lin.svg')
        img(class='social-icons__icon' src='./src/images/insta.svg')
        img(class='social-icons__icon' src='./src/images/be.svg')
        img(class='social-icons__icon' src='./src/images/phone.svg')
        span(class='social-icons__phone-number') 123-4567 890

    header(class='hero__header header')
        img(class='logo__img' src='./src/images/logo_full.svg')
        nav(class='header__menu menu')
            a(class='menu__item' href='#') Home
            a(class='menu__item' href='#') About us
            a(class='menu__item' href='#') Our Agents
            a(class='menu__item' href='#') Properties
            a(class='menu__item' href='#') Gallery
            a(class='menu__item' href='#') Blog
            a(class='menu__item' href='#') Contact us
            a(class='menu__item' href='#') Search
        button(class='header__btn') Add Listing

    h1(class='hero__cta-hdn') Find Your Dream Home
    p(class='hero__cta-subhdn')
        | Vestibulum ante ipsum in faucibus orci luctus
        | et ultrices posuere cubilia curae; Proin sodales
        | ultrices nulla blandit vulutpat.
