.l-wrapper-sec
    section.letest

        .l-wrapper-hdn
            h2.letest__hdn Letest Properties of Rent
            h3.letest__subhdn
                | Vestibum ante ipsum primis in faucibus orci luctus
                | et ultrices posuere cubilia curae;
                | Proin sodales ultrices nulla blandit volutpat.

        .letest__cards.cards
            .cards__card.card.card--active
                .card__active-wrapper
                    a.card__btn(href='#') Hot offer
                    a.card__btn(href='#') Sale
                img.card__img(src='./src/images/letest/card1.jpg')
                h3.card__hdn 92 Allium Place, Orlando FL 32827
                .card__price $ 590,693
                .card__details
                    img.card__icon(src='./src/images/letest/icon_car.svg')
                    span.card__info 4
                    img.card__icon(src='./src/images/letest/icon_bath.svg')
                    span.card__info 4
                    img.card__icon(src='./src/images/letest/icon_arrows.svg')
                    span.card__info 2,096.00 ft
                .card__footer
                    img.card__avatar(src='./src/images/letest/avatar1.png')
                    span.card__avatar-name Jenny Wilson
                    .card__actions
                        img.card__share(src='./src/images/letest/icon_share.svg')
                        img.card__heart(src='./src/images/letest/icon_heart.svg')
                        img.card__plus(src='./src/images/letest/icon_plus.svg')